<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Employee Database API (Beta)</a>
    <div class="" id="navbarSupportedContent">
      <a href="/api/employees" class="link-light btn btn-primary">
        Get API
      </a>
    </div>
  </div>
</nav>